@import './mixin.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 16px;
}

label {
  font-weight: 700;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
   }
}

/*常用分辨率 1280~1920使用12~18字体*/
@media (min-width: 800px) and (max-width: 800px) {
  body {
    font-size: 7.5px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  body {
    font-size: 9.6px;
  }
}

@media (min-width: 1152px) and (max-width: 1152px) {
  body {
    font-size: 9.6px;
  }
}

@media (min-width: 1280px) and (max-width: 1280px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 1360px) and (max-width: 1360px) {
  body {
    font-size: 12.75px;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) {
  body {
    font-size: 12.80625px;
  }
}

@media (min-width: 1400px) and (max-width: 1400px) {
  body {
    font-size: 13.125px;
  }
}

@media (min-width: 1440px) and (max-width: 1440px) {
  body {
    font-size: 13.5px;
  }
}

@media (min-width: 1600px) and (max-width: 1600px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1680px) and (max-width: 1680px) {
  body {
    font-size: 15.75px;
  }
}

@media (min-width: 1920px) and (max-width: 1920px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 2560px) and (max-width: 2560px) {
  body {
    font-size: 24px;
  }
}
